---
layout: layouts/base.njk
permalink: /privacy/
translationKey: privacy
pageType: privacy
eleventyComputed:
  title: "{{ i18n.en.privacy.title }}"
  description: "{{ i18n.en.privacy.lede }}"
---
{% include "pages/privacy.njk" %}
