---
layout: layouts/base.njk
permalink: /terms/
translationKey: terms
pageType: terms
eleventyComputed:
  title: "{{ i18n.en.terms.title }}"
  description: "{{ i18n.en.terms.lede }}"
---
{% include "pages/terms.njk" %}
