---
layout: layouts/base.njk
permalink: /pt/trabalho/
translationKey: work-index
pageType: work
eleventyComputed:
  title: "{{ i18n.pt.work.title }}"
  description: "{{ i18n.pt.work.lede }}"
---
{% include "pages/work-index.njk" %}
