---
layout: layouts/base.njk
permalink: /pt/escrita/
translationKey: writing-index
pageType: writing
eleventyComputed:
  title: "{{ i18n.pt.writing.title }}"
  description: "{{ i18n.pt.writing.lede }}"
---
{% include "pages/writing-index.njk" %}
