---
layout: layouts/base.njk
permalink: /writing/
translationKey: writing-index
pageType: writing
eleventyComputed:
  title: "{{ i18n.en.writing.title }}"
  description: "{{ i18n.en.writing.lede }}"
---
{% include "pages/writing-index.njk" %}
