---
layout: layouts/base.njk
permalink: /about/
translationKey: about
pageType: about
eleventyComputed:
  title: "{{ i18n.en.about.title }}"
  description: "{{ i18n.en.about.lede }}"
---
{% include "pages/about.njk" %}
