---
layout: layouts/base.njk
permalink: /work/
translationKey: work-index
pageType: work
eleventyComputed:
  title: "{{ i18n.en.work.title }}"
  description: "{{ i18n.en.work.lede }}"
---
{% include "pages/work-index.njk" %}
