---
layout: layouts/base.njk
permalink: /pt/termos/
translationKey: terms
pageType: terms
eleventyComputed:
  title: "{{ i18n.pt.terms.title }}"
  description: "{{ i18n.pt.terms.lede }}"
---
{% include "pages/terms.njk" %}
