---
layout: layouts/base.njk
permalink: /pt/privacidade/
translationKey: privacy
pageType: privacy
eleventyComputed:
  title: "{{ i18n.pt.privacy.title }}"
  description: "{{ i18n.pt.privacy.lede }}"
---
{% include "pages/privacy.njk" %}
