---
layout: layouts/base.njk
permalink: /pt/sobre/
translationKey: about
pageType: about
eleventyComputed:
  title: "{{ i18n.pt.about.title }}"
  description: "{{ i18n.pt.about.lede }}"
---
{% include "pages/about.njk" %}
